<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div class="container">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  Choose file : <input type="file" name="Classvideo"><br><br>
           
  <td>
    <video controls>
    <source src="{{ val.Classvideo.url }}" type="video/mp4">
</video>
</td>
          Description  :<input type="text" name="Description" value="{{ val.Description}}"><br><br>
          date  :<input type="date" name="date" ><br><br>
          amount  :<input type="text" name="amount"value="{{ val.amount}}"><br><br>
          


<button type="SUBMIT">edit</button></form>
        </div>
</body>
</html>