<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
<table border="1">
    <thead>
        <tr>
            <th>type</th>
            <th>notification</th>
            <th>date</th>
            <th>link</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for i in obj %}
        <tr>
            <td>{{i.type}}</td>
            <td>{{i.notification}}</td>
            <td>{{i.date}}</td>
            <td>{{i.link}}</td>
           <td> <a href="/MeetNotificationupdate/{{i.id}}">Update </a>
            <a href="MeetNotificationdelete/{{i.id}}">delete </a></td>
        
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5"><center><a href="MeetNotificationadd">ADD</a></center></td>
        </tr>
       
 
</table>
</div>
</body>
</html>
