<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
<table border="1">
    <thead>
        <tr>
            <th>Class video</th>
            <th>date</th>
            <th>description</th>
            <th>amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for i in obj %}
        <tr>
            <td>
                <video controls>
                <source src="{{ i.Classvideo.url }}" type="video/mp4">
            </video>
        </td>
            <td>{{i.date}}</td>
            <td>{{i.Description}}</td>
            <td>{{i.amount}}</td>
            <td>
                <a href="/edit_video/{{i.id}}">edit</a><br>
                <a href="/deleteVideo/{{i.id}}/">delete</a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td><a href="/add_new_video">add new video</a></td>

        </tr>
        
</table>
</div>  
</body>
</html>
