<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container"></div>
<table border="1">
    <thead>
        <tr>
            <th>user id</th>
            <th>teacher id</th>
            <th>payment amount</th>
            <th>payment status</th>
            <th>date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for i in obj %}  
        <tr>
            <td>{{i.USER.username}}</td>
            <td>{{i.teacherid.name}}</td>
            <td>{{i.amount}}</td>
            <td>{{i.paymentstatus}}</td>
            <td>{{i.date}}</td>
        </tr>
        {%endfor%}
</table>
</div>
</body>
</html>
