<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
</body>
<a href="/teacherdashboard"></a>
<a href="chat_with_students">chat_with_students</a><br>
<a href="sent_google_meet_notification">sent_google_meet_notification</a><br>
<a href="sent_ program_notification_student">sent_ program_notification_student</a><br>
<a href="sent_recorded_class_video">sent_recorded_class_video</a><br>
<a href="teacher_payment_verification">teacher_payment_verification</a><br>
<a href="teacher_view_program_notification">teacher_view_program_notification</a><br>
</html>