<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
<table border="1">
    <thead>
        <tr>
            <th> Materialsname</th>
            <th> imagematerial</th>
            <th> Description</th>
            <th>Amount </th>
            <th> date</th>
        </tr>
    </thead>
    <tbody>
        {% for i in val %}
        <tr>
            <td>{{ i.Materialsname }}</td>
            <td><img src="{{ i.imagematerial.url }}" height="100px" width="100px"></td>
            <td>{{ i.Description }}</td>
            <td>{{ i.Amount }}</td>
            <td>{{ i.date }}</td>
            <td>
                <a href="">EDIT </a><br>
                <a href="/deletemat/{{i.id}}">DELETE </a>
            </td>
        </tr>
        {% endfor %}
         
        <a href="/add_and_manage_materials_for_event_column">+add_and_manage_materials_for_event_column</a>  <br>  
</table>
   </div>
</body>
</html>
