<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
    <form>
Materials Name<input type="text"><br><br>
Purchase Materials<input type="text"><br><br>
Description<input type="text"><br><br>
Amount<input type="text"><br><br>
<select name="" id="">
    <option value="rent">rent</option>
    <option value="purchase">Purchase</option>
</select>
<button type="Add">Add</button></form>
</div>
</body>
</html>