<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
<table border="1">
    <thead>
        <tr>
            <th>course name</th>
            <th>photo</th>
            <th>course duration</th>
            <th>course description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="#"><a href="/add_and_manage_course edit"> edit</a> </a>
                <a href="#">delete </a>
            </td>
        </tr>
        <a href="/add_and_manage_course_coiumn">add</a><br>
        
</table>
   </div>
</body>
</html>
