<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
    <form method="post">
        <input type="hidden" name="MANAGER" value="{{c}}">
Event title<input type="text" name=programname><br><br>
coordinator<input type="text" name=coordinator><br><br>

<!-- Date<input type="text" name="date"><br><br> -->
place<input type="text" name="place"><br><br>

Description<input type="text" name="Description"><br><br>
<button type="submit">register</button></form>
</div>
</body>
</html> 