<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
</body>
<a href="/eventmanagerdashboard"></a>
<a href="add_and_manage_course_coiumn">add_and_manage_course_coiumn</a><br>
<a href="add_and_manage_course">add_and_manage_course</a><br>
<a href="add_and_manage_course ">add_and_manage_course</a><br>
<a href="add_and_manage_event_program_1">add_and_manage_event_program_1</a><br>
<a href="add_and_manage_event_program">add_and_manage_event_program</a><br>
<a href="add_and_manage_materials_for_event_column">add_and_manage_materials_for_event_column</a><br>
<a href="add_and_manage_materials_for_event">add_and_manage_materials_for_event</a><br>
<a href="event_manager_profile_update">event_manager_profile_update</a><br>
<a href="event_manager_register">event_manager_register</a><br>
<a href="manage_event_notification_add">manage_event_notification_add</a><br>
<a href="manage_event_notification ">manage_event_notification</a><br>
<a href="manageevent_notification_edit">manageevent_notification_edit</a><br>
<a href="view_event_program_status">view_event_program_status</a><br>
<a href="view_event_request_and_update_status">view_event_request_and_update_status</a><br>
</html>