<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div class="container">
  <form action="" method="post">
    {% csrf_token %}
  Course name : <input type="text" name="coursename"><br><br>
           Duration : <input type="text" name="duration"><br><br>
           Course type : <input type="text" name="type"><br><br>
          Description about course :<input type="text" name="description"><br><br>
           Start date :<input type="date" name="startdate" ><br><br>
           End date date :<input type="date" name="enddate"><br><br>


<button type="SUBMIT">SUBMIT</button></form>
        </div>
</body>
</html>