<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div class="container">
  <form>
  Course name<input type="text"><br><br>
           Duration<input type="text"><br><br>
           Course type<input type="text"><br><br>
          Description about course <input type="text"><br><br>
           start date and end date <input type="text"><br><br>

<button type="SUBMIT">SUBMIT</button></form>
        </div>
</body>
</html>