<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
</body>
<a href="/admindashboard"></a>
<a href="managestudent">managestudent</a><br>
<a href="verify">verify</a><br>
<a href="addcourse">addcourse</a><br>
<a href="view_and_manage">view_and_manage</a><br>
<a href="eventprogram">eventprogram</a><br>
<a href="send_event_notification_to_teacher">send_event_notification_to_teacher</a><br>
<a href="view_fee_details">view_fee_details</a><br>
<a href="view_feedback">view_feedback</a><br>
</html>