<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
    <table border="1">
        <tr>
        <th>Programme name</th>
        <th>co-ordinater</th>
        <th>Date</th>
        <th>Place</th> 
        <th>Description</th> 
        <th>Action</th>
        </tr>
        </thead>
        <tbody>
            {% for i in obj %}
            <tr>
                <td>{{i.programname}}</td>
                <td>{{i.coordinator}}</td>
                <td>{{i.date}}</td>
                <td>{{i.place}}</td>
                <td>{{i.Description}}</td>
                <td>
                    <a href="{% url 'accept_eventmanager' i.id %}"class="button accept">Accept</a>
                    <a href="{% url 'reject_eventmanager' i.id %}"class="button reject">Reject</a>
                    </td>
                </tr>
                {% endfor %}

        </table>
        </div>
</body>
</html>