<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
    <table border="1">
        <tr>
    
        <th>Teacher name</th>
    
        <th>Phone no</th>
        <th>subject</th> 
        <th>Events</th>
        <th>Date</th>
        <th>Place</th>
        <th>Accept or reject</th>

        </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

        </table>
        </div>
</body>
</html>