<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
    <table border="1">
        <tr>
        <th>Student name</th>
        <th>Phone no</th>
        <th>Course</th> 
        <th>dob</th>
        <th>email</th>
        
        </tr>
        </thead>
        <tbody>
            {% for i in obj %}
            <tr>
                <td>{{i.username}}</td>
                <td>{{i.phoneno}}</td>
                <td>{{i.COURSE}}</td>
                <td>{{i.dob}}</td>
                <td>{{i.email}}</td>
                <td><a href="deletestudent/{{i.id}}">delete </a></td>
                
                    
            </tr>
            {% endfor %}


        </table>
        </div>
</body>
</html>