<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
    <table border="1">
        <tr>
        
        <th>name</th>
        <th>subject</th>
        <th>Phone no</th>
        <th>email</th>
        <th>dob</th>
        <th>gender</th>
        <th>qualification</th>
        
        <th colspan="2">action</th>
        </tr>
        </thead>
        <tbody>
            {%if obj%}
            {% for i in obj %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.subject}}</td>
                <td>{{i.phoneno}}</td>
                <td>{{i.email}}</td>
                <td>{{i.dob}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.qualification}}</td>
            
                <td>
                 {% if i.LOGIN.Type == 'pending' %}
                    <a href="{% url 'accept_teacher' i.id %}"class="button accept">Accept</a>
                    <a href="{% url 'reject_teacher' i.id %}"class="button reject">Reject</a>
                {% elif i.LOGIN.Type == 'rejected' %}
                <a href="{% url 'accept_teacher' i.id %}"class="button accept">Accept</a>
                {% else %}
                <a href="{% url 'reject_teacher' i.id %}"class="button reject">Reject</a>
                {% endif %}

                </td>
                    </tr>
                    {%endfor%}
                    {% else %}
                    <td colspan="8"><center><p>all teachers verified</p></center></td>
                    {%endif%}
                    
                </tr>
          
        </table>
        </div>
</body>
</html>