<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
    <table border="1">
        <tr>
        <th>Course name</th>
        <th>Duration</th>
        <th>Course type</th>
        <th>Description about course</th> 
        <th>Start and end date </th>
        <th>Edit and delete</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></tdtd>


        </table>
        <a href="/add and manage course">+add and manage course</a>
        </div>
</body>
</html>