<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
    <table border="1">
        <tr>
      
        <th> User name</th>
        <th>User feedback</th>
        <th>date</th>
    
        </tr>
        </thead>
        <tbody>
            {%for i in obj%}
            <tr>
                <td>{{i.USER_ID.username}}</td>
                <td>{{i.feedback}}</td>
                <td>{{i.date}}</td>
           
        </tr>
        {%endfor%}


        </table>
        </div>
</body>
</html>