<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
    <table border="1">
        <tr>
        <th>Course name</th>
        <th>Duration</th>
        <th>Course type</th>
        <th>Description about course</th> 
        <th>Start date </th>
        <th>End date</th>
        </tr>
        </thead>
        <tbody>
            {% for i in obj %}
            <tr>
                <td>{{i.coursename}}</td>
                <td>{{i.duration}}</td>
                <td>{{i.type}}</td>
                <td>{{i.description}}</td>
                <td>{{i.startdate}}</td>
                <td>{{i.enddate}}</td>
                <td>
                    <a href="deletecourse/{{i.id}}">delete </a></td>
                </tr>
                {%endfor%}
        </table>
        <a href="/add and manage course">+add and manage course</a>
        </div>
</body>
</html>